<div class="container">
    <div class="row" *ngIf="serviceDown">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>
                        Quiz Service is Down! Please try again !<br/>
                    </h3>

                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!serviceDown">
        <div class="col-md-4">
            <br>
            <button (click)="addNewQiz()" class="btn btn-outline-primary">
            Add New Quiz</button>
            <button (click)="promisesOne()" class="btn btn-link">
                    Promise 1
                </button>
            <button (click)="promisesTwo()" class="btn btn-link">
                         2
                    </button>
            <button (click)="promisesThree()" class="btn btn-link">
                            3
                        </button>
            <br>
            <br>
            <div class="list-group">
                <a [class.active]="q === selectedQuiz" (click)="selectQuiz(q)" href="#" *ngFor="let q of quizes" class="list-group-item list-item-group-action d-flex justify-content-between align-items-center">
                    {{q.name}}
                    <span class="badge badge-secondary"
                    [class.bg-danger]="q.questions.length === 0">{{q.questions.length}}</span>
                </a>
            </div>
        </div>
        <div class="col-md-8" *ngIf="!selectedQuiz">
            <br>
            <div class="card">
                <div class="card-body">
                    Select or add new quiz...
                </div>
            </div>
        </div>
        <div class="col-md-8" *ngIf="selectedQuiz">
            <br/>
            <button class="btn btn-outline-success">Save</button>
            <button class="btn btn-outline-link">Cancel</button>
            <br>
            <br>
            <div class="card">
                <div class="card-header">General</div>
                <div class="card-body">
                    <input type="text" [(ngModel)]="selectedQuiz.name" class="form-control">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Questions</div>
                <div class="card-body">
                    <br>
                    <button (click)="addNewQuestion()" class="btn btn-outline-primary">
                                Add New Question
                            </button>

                    <br>
                    <br>
                    <div class="row" *ngFor="let question of selectedQuiz.questions">
                        <div class="col-md-9">
                            <input type="text" placeholder="New Question ?" class="form-control" [(ngModel)]="question.name" /> </div>
                        <div class="col-md-3">
                            <button class="btn btn-link text-danger" (click)="removeQuestion(question)">Remove</button>
                            <br>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Other</div>
                <div class="card-body">
                    <div>
                        <label class="form-check-label text-danger">
                                    <input type="checkbox" class="form-check-input"
                                    [(ngModel)]="selectedQuiz.markedForDelete"
                                    />
                                    
                        Mark For Delete</label>
                    </div>

                    <!--<button class="btn btn-outline-danger">Delete this QUIZ</button>-->
                    <br>
                    <br/>
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel title="Quiz Instructions">
                            <ng-template ngbPanelContent>
                                Multiple Attempts - You will have three attempts for this quiz with your highest score being recorded in the grade book.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <span>&#9733; <b>Quiz</b> Feedback &#9733;</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                A> Overall feedback <br/> B> General feedback <br/> c> Specific feedback
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel title="Disabled" [disabled]="true">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <br/>
                </div>
            </div>
        </div>
    </div>

</div>.